<div class="wrapper">
    <!-- Menubar -->
    <header>
        <nav class="navbar navbar-custom">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">Workout Tracker</a>
                </div>
                
                <div id="navbarCollapse" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#" [routerLink]="['/view']">View All</a></li>
                        <li><a href="#" [routerLink]="['/create-workout']">Create</a></li>
                        <li><a href="#" [routerLink]="['/create-category']">Category</a></li>
                        <li><a href="#" [routerLink]="['/track']">Track</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
  
    <!-- Content -->
    <div class="container content">
		<router-outlet></router-outlet>
    </div>

    <alert></alert>

</div>	
