<div class="center-align-container">
    <div class="form-group row" *ngIf="workouts.length > 0">
        <div class="col-xs-12 col-sm-12">
            <input type="text" class="form-control" placeholder="Search" #filter (input)="filterWorkouts(filter.value)">
        </div>
    </div>
    
    <div class="form-group row view-container" *ngFor="let workout of workouts; let idx=index;">
        <div class="row margin-5">
            <div class="col-xs-12 col-sm-12">
                <input type="text" class="form-control" value="{{workout.title}}" disabled>
            </div>
        </div>
        <div class="row margin-5 item-group">
            <button type="button" class="btn btn-primary item" [routerLink]="['/edit-workout', idx]"
             [disabled]="(workoutStarted === idx && workoutEntry)">Edit</button>
            
            <button type="button" class="btn btn-danger item" (click)="deleteWorkout(idx)"
             [disabled]="(workoutStarted === idx && workoutEntry)">Delete</button>
            
            <button type="button" class="btn btn-success item" (click)="openStartPopup(idx)"
             [disabled]="(workoutStarted === idx && workoutEntry) || workoutEntry">Start</button>
            <button type="button" class="btn btn-warning item" (click)="openEndPopup(idx)"
             [disabled]="workoutStarted !== idx">End</button>
        </div>
    </div>

    <div class="form-group row" *ngIf="workouts.length <= 0">
        <div class="col-xs-12 col-sm-12">
            <h3>No workouts created..!!</h3>
        </div>
    </div>

</div>

<!-- Start Workout modal -->
<modal header="Start Workout" [(show)]="openStartWorkout" *ngIf="currentWorkout">
    <div class="form-group row">
        <label for="title" class="col-xs-12 col-sm-4">Title:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="title" [(ngModel)]="currentWorkout.title" disabled> 
        </div>
    </div>
        
    <div class="form-group row">
        <label for="note" class="col-xs-12 col-sm-4">Note:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea class="form-control" id="note" rows="5" [(ngModel)]="currentWorkout.note" disabled></textarea> 
        </div>
    </div>
        
    <div class="form-group row">
        <label for="start-date" class="col-xs-12 col-sm-4">Start Date:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="date" class="form-control" id="start-date" [(ngModel)]="startDate"> 
        </div>
    </div>

    <div class="form-group row">
        <label for="start-time" class="col-xs-12 col-sm-4">Start Time:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="time" class="form-control" id="start-time"  [(ngModel)]="startTime"> 
        </div>
    </div>

    <div class="form-group row col-sm-offset-3">
        <div class="col-xs-6 col-sm-3">
            <input type="button" class="form-control btn btn-primary item" value="Start" (click)="startWorkout()">
        </div>
        <div class="col-xs-6 col-sm-3">
            <input type="button" class="form-control btn btn-danger item" value="Cancel" (click)="cancelStartWorkout()">
        </div>
    </div>
</modal>

<!-- End Workout modal -->
<modal header="End Workout" [(show)]="openEndWorkout" *ngIf="currentWorkout">
    <div class="form-group row">
        <label for="title" class="col-xs-12 col-sm-4">Title:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="title" [(ngModel)]="currentWorkout.title" disabled> 
        </div>
    </div>
        
    <div class="form-group row">
        <label for="note" class="col-xs-12 col-sm-4">Note:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea class="form-control" id="note" rows="5" [(ngModel)]="currentWorkout.note" disabled></textarea> 
        </div>
    </div>
        
    <div class="form-group row">
        <label for="end-date" class="col-xs-12 col-sm-4">End Date:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="date" class="form-control" id="end-date" [(ngModel)]="endDate"> 
        </div>
    </div>

    <div class="form-group row">
        <label for="end-time" class="col-xs-12 col-sm-4">End Time:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="time" class="form-control" id="end-time"  [(ngModel)]="endTime"> 
        </div>
    </div>

    <div class="form-group row col-sm-offset-3">
        <div class="col-xs-6 col-sm-3">
            <input type="button" class="form-control btn btn-primary item" value="End" (click)="endWorkout()">
        </div>
        <div class="col-xs-6 col-sm-3">
            <input type="button" class="form-control btn btn-danger item" value="Cancel" (click)="cancelEndWorkout()">
        </div>
    </div>  
</modal>